@tailwind base;
@tailwind components;
@import url(fonts.css);
@tailwind utilities;

@layer base {

    a,
    ins {
        @apply !no-underline
    }

    h1,
    .h1 {
        @apply text-2xl font-bold md:text-4xl tracking-tighter;
    }

    h2,
    .h2 {
        @apply text-xl font-bold md:text-3xl tracking-tighter;
    }

    h3,
    .h3 {
        @apply text-lg font-bold md:text-2xl tracking-tighter;
    }

    h4,
    .h4 {
        @apply text-base font-bold md:text-lg tracking-tighter;
    }

    ::selection {
        @apply bg-primary bg-primary-content;
    }

    .last-slide .card {
        @apply grayscale-[150%] pointer-events-none
    }

    .last-slide .card-body {
        @apply opacity-35
    }

    @media (min-width: 1280px) {
        .container {
            max-width: 100% !important;
        }
    }


}

@layer components {

    [aria-disabled=true] {
        @apply border-base-100 bg-base-200 text-base-content/20
    }

    [aria-disabled=true]>label {
        @apply border-none bg-transparent
    }

    .btn-custom {
        @apply bg-primary border-primary text-primary-content hover:bg-primary-focus hover:border-primary-focus
    }

}

.react-select .select {
    background-image: url('data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PGcgZGF0YS1uYW1lPSJJY29uIDEiPjxwYXRoIGZpbGw9IiMzOTIxNjQiIGQ9Ik0xMSwyMGE5LDksMCwxLDEsOS05QTksOSwwLDAsMSwxMSwyMFpNMTEsM2E4LDgsMCwxLDAsOCw4QTgsOCwwLDAsMCwxMSwzWiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjcuNzMiIHg9IjE5LjI3IiB5PSIxNS45IiBmaWxsPSIjMzkyMTY0IiB0cmFuc2Zvcm09InJvdGF0ZSgtNDUgMTkuNzcgMTkuNzcxKSIvPjwvZz48L3N2Zz4=');
    background-size: 18px 18px, 4px 4px;
}